body{
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
}
header{
    background-color: #1F2937;
    color: #F9FAF8;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 976px;
    margin: 0 auto;
    padding: 20px 0;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 24px;
    
}

.nav-links a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.hero-container {
    display: flex;
    max-width: 976px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0 120px;
    gap: 48px;
}
.hero-right {
    background-color: #6d747d;
    width: 480px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}
.hero-left {
    max-width: 450px;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero-left p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0 0 16px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 8px 32px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
}
.information {
    background-color: #F9FAF8;
    padding: 48px 0 96px;
    text-align: center;
}
.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 0 0 48px;
}
.info-container {
    display: flex;
    justify-content: center;
    gap: 48px;
}
.info-item {
    width: 160px;
}
.info-box {
    width: 160px;
    height: 160px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}
.info-item p {
    font-size: 18px;
    color: #4B5563;
    margin-top: 8px;
}
.quote-section {
    background-color: #E5E7EB;
    padding: 120px 0;
}
.quote-container {
    max-width: 820px;
    margin: 0 auto;
}

.quote-container p {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    margin: 0;
}

.quote-author {
    font-size: 24px;
    font-weight: 700;
    color: #1F2937;
    text-align: right;
    margin-top: 16px;
}